@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
  135deg,
  #8277fb,
  rgb(210, 179, 201),
  #6fb6f4,
  #d6a3cc
);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: white;
}
.to-do-window {
  width: 80vw;
  display: flex;
  flex-direction: column;
  box-shadow: 1px -7px 29px 32px rgba(251, 251, 251, 0.244) inset;
  border-radius: 20px;
  height: 80vh;
  padding-bottom: 15px;

}
.to-do-window > h1 {
  text-align: center;
  margin: 20px;
  font-size: 25px;
}
h2 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}
.input-container {
  display: flex;
  margin: 0 auto;
  gap: 10px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.326);
  padding: 14px;
  width: 100%;
}
input {
  border-radius: 12px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border: none;
  height: 40px;
  width: 100%;
  padding: 15px;
  flex: 1;
}
button {
  width: 120px;
  border: none;
  border-radius: 16px;
  background: linear-gradient(180deg, #8373fa, #384ce6);
  box-shadow: 4px 4px 9px rgba(47, 17, 155, 0.241);
  color: inherit;
}
.columns {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: stretch;
  padding: 0 15px;
  flex: 1;
  min-height: 100px;
}
.columns > div {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: linear-gradient(135deg, #8277fb, #6fb6f4, rgb(210, 179, 201));
  padding: 5px;
  border-radius: 10px;
}
.columns p {
  background: white;
  padding: 10px;
  border-radius: 10px;
  max-width: 90%;

}
.task-list {
  flex:1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  overflow-y: auto;
}
.task-list > p {
  color: rgb(42, 36, 36);
  font-size: 16px;
  overflow: hidden;

}

.item {
  min-width: 80%;
  min-height: 30px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  color: #828282;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: grab;
  word-break: break-word;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 66px;  
}

.hold {
  border: dashed 3px #000;
}
.hide {
  opacity: 0;
}
.hovered {
  border-top: 2px solid #6a23d5;
}