body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 600px;
  min-height: 600px;
  text-align: center;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 15px 10px rgba(255, 0, 43, 0.411);
  border-radius: 8px;
  padding: 10px 5px 15px 5px;
}
.title {
  padding: 10px;
  border: 3px dotted rgba(88, 1, 1, 0.344);
  border-radius: 5px;
  color: rgb(88, 1, 1);
}
.square {
  width: 80px;
  height: 80px;
  font-size: 32px;
}
.btn {
  height: 40px;
  width: 60px;
  display: inline-block;
  margin-right: 10px;
  background-color: rgb(128, 0, 0);
  color: white;
  font-size: 16px;
  border-radius: 5px;
}