* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
}

.home-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main-img {
  width: 500px;
  height: auto;
}
.main-introduce {
  display: flex;
  gap: 50px;
  padding: 50px;

}
.hp-first {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-left: 50px;
}
.hp-first__title {
  display: flex;
  gap: 20px;
  font-size: 20px;
  font-weight: bold;
}
.left-part {
  width: 200px;
}
.right-part {
  margin-top: 45px;
  width: 250px;
  text-indent: -40px;
}
.hp-text {
  position: relative;
  max-width: 600px;
  line-height: 1.6;
  font-size: 16px;  
  color: rgba(46, 20, 20, 0.875);
}
.hp-text::before {
  content: '';
  display: block;
  height: 400px;
  width: 450px;
  background-color: rgba(54, 35, 35, 0.103);
  position: absolute;
  top: -100px;
  left: -500px;
  z-index: -1
}


.side-menu {
  position: fixed;
  top: 0;
  left: -260px;
  width: 260px;
  height: 100vh;
  background: #111;
  color: white;
  transition: left 0.3s ease;
  z-index: 1000;
}

.main-slogan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.main-slogan__cat {
  width: 200px;
  height: auto;
}

.logo {
  width: 250px;
  height: auto;
}
.first-visit-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.fv-block1 {
  display: flex;
}
.fv-block2 {
  display: flex;
  gap: 20px;
}
.fv-block3 {
  display: flex;
}
.fv-card > img {
  width: 300px;
  height: 300px;
}
.fv-clock3__colored {
  background-color: rgb(175, 176, 166);
}
.fv-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* FirstVisitPage
-----------------------------------*/

.first-visit-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fv-block1 {
  display: flex;
  justify-content: center;
  padding: 20px 20px 20px 0;
  margin-bottom: 60px;
}
.fv-block1__text {
  max-width: 600px;
  margin-left: 40px;
  margin-top: 100px;
}
.fv-block1__text p {
  margin-top: 15px;
  line-height: 1.6;
  font-size: 16px;  
  color: rgba(46, 20, 20, 0.744);
}
.fv-block1__img img {
  width: 500px;
  height: auto;
}



.fv-block2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin-bottom: 60px;
}
.fv-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.fv-card {
  display: flex;
  gap: 30px;
  max-width: 80%;
}
.fv-card > img {
  width: 300px;
  height: auto;
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 15px;
}
.fv-card__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px;
  justify-content: flex-end;
}
.fv-card__text p {
  color: rgba(46, 20, 20, 0.744);
  padding-left: 50px;
}


.fv-block3 {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  max-width: 80%;
  margin-top: 40px;
}
.fv-clock3__colored {
  background-color: rgb(175, 176, 166);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  gap: 8px;
}

.fv-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
}
.fv-form input, textarea {
  height: 50px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.icons {
  display: flex;
  gap: 15px;
}
.icons-block {
  display: flex;
  max-width: 300px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 0 100px;
}
.icons img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}