* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

.side-menu {
  position: fixed;
  top: 0;
  left: -260px;
  width: 260px;
  height: 100vh;
  background: #111;
  color: white;
  transition: left 0.3s ease;
  z-index: 1000;
}

.side-menu.open {
  left: 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-phone {
  font-size: 16px;
}



aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  align-items: space-between;
}


.main-slogan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.main-slogan__cat {
  width: 200px;
  height: auto;
}

.footer {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  background-color: #54c0c2;
  justify-content: space-between;
}
.footer-block {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.logo {
  width: 150px;
  height: auto;
}
.footer-icons {
  display: flex;
  gap: 10px;
  align-items: center;
}
.footer-icons > a {
  width: 20px;
  height: 20px;
}
