body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
}
.main {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  position: absolute;
  display: none;
  width: 200px;
  height: 250px;
  background: #000;
  color: white;
  font-size: 14px;
  flex-direction: column;
  justify-content: space-between;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  z-index: 1000;
}
.menu > div {
  padding: 5px;
  cursor: pointer;
}
.menu > div:hover {
  background: rgba(255, 255, 255, 0.134);
}
.timer {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 200px;
  background-color: rgb(70, 17, 26);
  border-radius: 10px;
  color: white;
  font-size: 24px;
}
.timerDisplay {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(180, 0, 0);
  border: 3px solid rgb(117, 5, 148);
  font-size: 24px;
  color: white;
  top: 50px;
  right: 50px;
}
.timer-input {
  width: 100px;
  height: 20px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}
.timerBtn {
  height: 30px;
  width: 100px;
  margin-top: 15px;
  font-size: 16px;
  border-radius: 10px;
  background-color:rgb(233, 164, 252)
}
.clickField {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.message {
  width: 500px;
  height: 150px;
  background-color: rgb(180, 0, 0);
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid black;
  color: white;
  text-align: center;
  font-size: 30px;
}