* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  position: absolute;
  display: none;
  width: 200px;
  height: 250px;
  background: #000;
  color: white;
  font-size: 14px;
  flex-direction: column;
  justify-content: space-between;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  z-index: 1000;
}
.menu > div {
  padding: 5px;
  cursor: pointer;
}
.menu > div:hover {
  background: rgba(255, 255, 255, 0.134);
}

/* Подсчет кликов */

.timer {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 200px;
  background-color: rgb(70, 17, 26);
  border-radius: 10px;
  color: white;
  font-size: 24px;
}
.timerDisplay {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(180, 0, 0);
  border: 3px solid rgb(117, 5, 148);
  font-size: 24px;
  color: white;
  top: 50px;
  right: 50px;
}
.timer-input {
  width: 100px;
  height: 20px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}
.timerBtn {
  height: 30px;
  width: 100px;
  margin-top: 15px;
  font-size: 16px;
  border-radius: 10px;
  background-color:rgb(233, 164, 252)
}
.clickField {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.message {
  width: 500px;
  height: 150px;
  background-color: rgb(180, 0, 0);
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid black;
  color: white;
  text-align: center;
  font-size: 30px;
}

/* Обратный таймер */

.backTimer {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgb(180, 0, 0), rgb(9, 3, 3));
  width: 500px;
  color: white;
}
.backTimer-inputForm {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.backTimer-input {
  width: 95px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
}
.backTimer-btn {
  width: 150px;
  height: 40px;
  background-color: green;
  color: inherit;
  border-radius: 10px;
  border: none;
  margin: 20px 0;
  font-size: 16px;
}
.backTimer-btn:hover {
  background-color: rgb(4, 99, 4);
  box-shadow: -2px 2px 4px 4px rgba(6, 110, 69, 0.381);
}
.backTimer-counting {
  display: none;
  justify-content: center;
  width: 200px;
  height: 100px;
  font-size: 60px;
}
.backTimer-message {
  display: none;
}

/*Сообщения */

.jason {
  display: none;
  width: 400px;
  height: 100px;
  position: fixed;
  left: 100px;
  bottom: 100px;
  z-index: 5000;
  gap: 10px;
  box-shadow: 2px 2px 4px 4px rgba(9, 3, 3, 0.29);
  align-items: center;
  opacity: 1;
  transition: opacity 1s ease;  
  background-color: white;
}
.jason-block {
  font-size: 15px;
  display: flex;
  flex-direction: column;
}
.jason-image {
  width: 80px;
  height: 80px;
  background: url('jason.webp') no-repeat center/cover;
  border-radius: 50%;
  flex-shrink: 0;
  margin-left: 5px;
}
.jason-message {
  margin-top: -10px;
}

/* Диорамы */

.video-player {
  display: none;
  width: 80%;
  max-height: 100%;
  border-radius:20px;
  overflow:hidden;
  background:#12141c;
  box-shadow:0 20px 50px rgba(0,0,0,.45);
  position: relative;
}

video {
  width:100%;
  height:100%;
  display:block;
  object-fit:cover;
}

.controls {
  display:flex;
  justify-content:center;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  gap:12px;
  padding:12px;
  background:rgba(0, 0, 0, 0.125);
  backdrop-filter:blur(10px);
}

.controls > button {
  padding:10px 16px;
  border-radius:16px;
  border:0;
  background:#272c3d;
  color:white;
  cursor:pointer;
  font-size:14px;
  transition:.25;
}
.controls input[type="range"] {
  width: 120px;
  cursor: pointer;
}