header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}
.header-phone {
  font-size: 22px;
}
header button {
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
}