* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(81, 81, 218);
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrapper {
  background-color: rgb(22, 20, 20);
  width: 90%;
  height: 90%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.logo {
  width: 200px;
  background: url('/logo.jpg') center/contain no-repeat;
}
.input-container {
  display: flex;
  width: 100%;
}
.input {
  height: 80px;
  padding: 5px;
}
.addInputBtn {
  width: 100px;
  height: 80px;
  border-radius: 10px;
  background-color: rgb(81, 81, 218);
}