* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(81, 81, 218);
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  width: 100%;
  background-color: rgb(22, 20, 20);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper {
  background-color: rgb(40, 39, 41);
  width: 90vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border-radius: 15px;
  overflow: hidden;
}
.logo img {
  width: 100px;
  margin: 20px;
}
.input-container {
  display: flex;
  width: 90%;
  margin: 15px 0;
}
.input {
  width: 90%;
  padding: 5px;
  border-radius: 10px;
  color: black;
  font-size: 16px;
}
.addInputBtn {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(81, 81, 218);
  margin: 10px;
  font-size: 16px;
}
.search {
  width: 50%;
}
.search-input {
  color: black;
}
.sort-select {
  color: black;
}
.sort-select option {
  color: black;
}
.todo-list {
  width: 100%;
  margin: 10px;
}
.todo-item {
  justify-self: flex-start;
  display: flex;
  width: 98%;
  align-items: center;
  justify-content: space-between;
}
.todo-item .completed {
  text-decoration: line-through;
  opacity: 0.6;
}
.sort {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sort-select {
  padding: 6px 10px;
}
.search {
  margin: 16px 0;
}

.search-input {
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
}